<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>My PDF</title>
</head>
<table  style="position: relative; top: -200px" >
    <thead>
    <tr>
        <th>ID Reclamation</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Categorie</th>
        <th>Reclamation</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
</table>
