
{% extends  'base.html.twig' %}
{% block body %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">

                        <div class="page-header card">
                            <div class="card-block">
                                <h5 class="m-b-10">Gestion des evenements
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                    <span>
                                        <button  class="btn btn-success"><a href="{{ path("ajouter") }}"><i class="icofont icofont-plus"></i>Ajouter</a></button>
                                            </span>


                                </h5>
                                <ul class="breadcrumb-title b-t-default p-t-10">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="fa fa-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Gestion des evenements</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="card"></br>
                            <h3>Modifier  des Evenements</h3>

                            {{ form_start(form) }}

                            {{ form_end(form) }}
                        </div>
                    </div></div></div></div></div>
{% endblock  %}
